:root {
  --main-color: #0181e4;
  --sub-color: #eeeeee;
  --border-color: #c7cacb;
  --white: #ffffff;
  --black: #000000;
  --gray: #999999;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

input {
  padding: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.pointer {
  cursor: pointer;
}

.btn {
  border: 1px solid var(--main-color);
  color: var(--white);
  background-color: var(--main-color);
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 10px;
  height: 19px;
  transition: 0.3s;
}
.btn:disabled {
  cursor: auto;
  border: 1px solid var(--border-color);
  color: var(--black);
  background-color: var(--border-color);
}

*:focus {
  outline: 0;
}

h1 {
  font-size: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

/* Header */

.title-bar {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--white);
  background-color: var(--main-color);
}
.title-bar .tool-buttons {
  position: absolute;
  right: 0;
  top: auto;
  bottom: auto;
}
.title-bar .tool-buttons .tool-button {
  border: none;
  cursor: pointer;
  padding: 4px;
  color: var(--white);
  background-color: var(--main-color);
}

/* Side bar */
.side-bar-wrapper {
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}
.create-category {
  font-weight: 700;
}
.create-input {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  font-size: 10px;
  height: 19px;
  padding: 0 4px;
}
.create-input:focus {
  border: 1px solid var(--main-color);
}

/* Collapse */
.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}
.panel-header > .buttons {
  display: flex;
  align-items: center;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
  height: 23px;
  align-items: center;
  background-color: var(--sub-color);
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-header-text {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid var(--border-color);
}
.ant-collapse .ant-collapse-content > .ant-collapse-content-box,
.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0;
}

/* Main */

.main-wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 30px);
}

.main {
  flex-grow: 1;
}
